# Django
SECRET_KEY=huhhhhhhh
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# OpenRouteService
ORS_API_KEY=eyJvcmciOiI1YjNjZTM1OTc4NTExMTAwMDFjZjYyNDgiLCJpZCI6IjFlM2UzYjNiODljOTQ2NmFhYzFlZmI2ZTU3MWNkZjM3IiwiaCI6Im11cm11cjY0In0=

# Database (production only — dev uses SQLite)
# DATABASE_URL=postgres://user:pass@host:5432/dbname

# CORS
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
